@page
@model WebApplication3.Pages.ChangePasswordModel
@{
    ViewData["title"] = "Change Password";
}

@section Script {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var newPasswordInput = document.getElementById('newPassword');
            var passwordStrengthDiv = document.getElementById('password-strength');

            if (newPasswordInput) {
                newPasswordInput.addEventListener('input', function () {
                    checkPasswordStrength(this.value);
                });
            }

            function checkPasswordStrength(password) {
                // pw strength validation logic
                var hasUppercase = /[A-Z]/.test(password);
                var hasLowercase = /[a-z]/.test(password);
                var hasNumber = /\d/.test(password);
                var hasSpecialChar = /[!@@#$%^&*(),.?":{}|<>]/.test(password);

                // check for the minimum length and include other checks
                if (password.length >= 12 && hasUppercase && hasLowercase && hasNumber && hasSpecialChar) {
                    passwordStrengthDiv.textContent = 'Password is strong!';
                    passwordStrengthDiv.style.setProperty('color', 'green', 'important'); // Change the text color to green
                } else {
                    passwordStrengthDiv.textContent = 'Password should be at least 12 characters long and include uppercase, lowercase, numbers, and special characters.';
                    passwordStrengthDiv.style.setProperty('color', 'red', 'important'); // Change the text color to red
                }
            }
        });
    </script>
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.OldPassword">Old Password</label>
                    <input type="password" asp-for="CModel.OldPassword" class="form-control" />
                    <span asp-validaton-for="CModel.OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.NewPassword">New Password</label>
                    <input type="password" asp-for="CModel.NewPassword" class="form-control" id="newPassword" />
                    <span asp-validaton-for="CModel.NewPassword" class="text-danger"></span>
                    <div id="password-strength" class="text-muted"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="CModel.ConfirmPassword" class="form-control" />
                    <span asp-validaton-for="CModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
